.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.posts {
    margin-top: 20px;
}

.post {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
}

.post-author {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.author-name {

}

.author-email {
    color: gray;
}
